---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import RandomTalk from "../components/RandomTalk.jsx";
import meImg from "../assets/ramon.jpg";
import GitHubProject from "../components/GitHubProject.astro";
import Repo from "../types/Repo";
import { queryReposForUser } from "../utils/GitHubRepos"
const talks = await getCollection("talks");

const me = {
  firstNames: "Ramón",
  lastNames: "Huidobro",
  gitHubUsername: "hola-soy-milk",
};

me.fullName = [me.firstNames, me.lastNames].join(" ")

const reposWithImages = await queryReposForUser(me.gitHubUsername);
---

<Layout title={`${me.fullName}: Speaker and Open Source Developer`}>
  <main>
    <h1 class="text-gradient">Hey there, I'm {me.firstNames}! 👋</h1>
    <h2>Tech Talks</h2>
    <RandomTalk client:load talks={talks} />
    <h2>GitHub Projects</h2>
    <ul role="list" class="repo-grid">
      {reposWithImages.map((repo: Repo) => <GitHubProject repo={repo} />)}
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .repo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
